*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.device{
    width:100%;
    height:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: all 2s;
    border-radius:10px;
    box-shadow: 5px 5px 10px rgba(29, 27, 29, 0.633); 
}

.deviceInfo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap:20%;
    margin: 5px;
}
.newDevice .img{
    width: 200px;
    height:200px;
    background-color: cornsilk;
    margin: 10px;
    border-radius: 15px;
}
.variable{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.variable button{
    width: 25px;
    margin: 3px;
    height: 25px;
    font-size: 20px;
    outline: none;
    border:none;

}
.variable h2{
    margin: 5px;
}
.device .device-btn{
    width: 100px;
    height: 30px;
    margin: 5px;
    border:none;
    border-radius: 10px;
    font-size:17px;
    background: white;
    box-shadow: 1px 1px 20px rgb(246, 241, 246);
    transition: all 2s;

}
.dash{
    display: flex;
    flex-wrap: wrap;
    margin:10px 5%;
    margin-bottom:150px;
}
a{
    color: inherit;
    text-decoration: none;
}
.navBar{
    display: flex;
    align-items: center;
    column-gap: 30px;
    box-shadow: 1px 1px 50px rgba(153, 145, 153, 0.633); 
    color: rgb(44, 6, 50);
    padding:5px 50px;
    position: sticky;
    background-color: white;
    background-image: linear-gradient(100deg,rgb(242, 236, 222),rgb(221, 188, 159));
    justify-content: space-between;
    top:0px;
    left: 0px;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:30px 10px;
}
.loginImg{
    display: flex;
    align-items: center;
    margin:30px;
}
.login input{
    width:250px;
    height:40px;
    margin: 15px 0px;
    font-size: 20px;
    padding:0px 10px;
    border:2px solid rgb(29, 15, 51);
    border-radius:5px;
}
.login-btn{
    width:150px;
    height:40px;
    background-color: rgb(116, 65, 163);
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: none;
}
.login-btn:active{
    background-color: rgb(141, 95, 184);
}
.otp{
    display: flex;
    align-items: center;
}
.otp input{
    width:150px;
}
.otp button{
    width:90px;
    height:40px;
    background-color: rgb(116, 65, 163);
    color: white;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}
.addDevice{
    display: flex;
    align-items: center;
    width:300px;
    column-gap: 10px;
    position: fixed;
    z-index: 5;
    bottom: 15px;
    right: 20px;
}
.device img{
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.addDevice img{
    width:50px;
    height:50px;
    border-radius:50%;
    border: 5px solid green;
}
.addDevice p{
    padding: 10px;
    border-radius: 10px;
    background-color:rgba(110, 35, 110, 0.851);
    color:white;
    font-size:18px;
    text-align: center;
}
.addDevice1{
    display: flex;
    align-items: center;
    width:300px;
    column-gap: 10px;
    position: fixed;
    top: 115px;
    right:-210px;
}
.addDevice1 p{
    padding: 10px;
    border-radius: 10px;
    background-color:rgb(248, 4, 8);
    color:white;
    font-size:18px;
    text-align: center;
}
.newDevice{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.newDevice input,.newDevice select{
    width:250px;
    margin: 10px 10px;
    height: 40px;
    padding: 0px 15px;
    border-radius: 10px;
    border: 2px solid rgb(86, 36, 100);
}
@media screen and (min-width:700px) {
    
    .device{
        width:46%;
    }
    .addDevice{
        display: flex;
        align-items: center;
        width:350px;
        column-gap: 30px;
        bottom:50px;
        right: 50px;
    }
    .navBar{
        height:100px;
    }
    .loginImg{
        width:120px;
    }
    .login input{
        margin: 10px;
        height: 35px;
        font-size:16px;
    }
    .login-btn{
        height: 35px;
    }
    .project{
        width: 45%;
    }
    .projects{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 20px;
    }
   
}
.project{
    background-image: linear-gradient(30deg,rgb(70, 70, 131),rgb(218, 173, 91));
    box-shadow: 3px 5px 10px rgba(82, 76, 82, 0.649); 
    height:120px;
    margin: 10px;
    padding:10px 30px;
    border-radius:15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.sideNav{
    height:350px;
    display: flex;
    padding: 30px 0px;
    width:200px;
    justify-content: center;
    background-color: rgb(41, 50, 71);
    background-image: linear-gradient(290deg,rgb(212, 192, 127),rgba(0, 0, 0, 0.959));
    position: fixed;
    right: -200px;
    transition: all 0.5s;
   border-radius:20px  5px 0px 0px;
   height:100%;
   opacity:0.95;
    
}
.sideNav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    color:rgb(173, 216, 230);
    align-items: flex-start;
}
.sideNav ul button{
    cursor: pointer;
}
.displayD{
    width:250px;
    height:100px;
    background-color: rgb(60, 55, 55);
    margin: 20px 0px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:25px;
}
.guide{
    /* background-color:green; */
    padding: 10px 0px;
    overflow: hidden;
}
.guide .part1 .title{
    background-color: green;
    margin:10px;
    padding: 10px;
   color:white;
   font-size: 18px;
   font-weight: bold;
}
.guide .part1 .step{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0px 10px;
  
    row-gap: 10px;
}
.guide .part1 .step img{
    width:250px;
    height:250px;
}
.guide .part1 .step p{
    font-size: 13px;
    text-align: justify;
}
.container{
    display: flex;
    flex-wrap:wrap;
    margin:0px 10px;
}
.code{
    width: 100%;
    padding: 10px 0px;
}
.code .code-title{
    background-color:rgb(252, 164, 255);
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
.code .container .step{
    background-color: white;
    width:100%;
    padding: 10px;
    margin:0px 10px;
    font-size: 15px;
    line-height:25px;
}
.step .feature{
    overflow: scroll;
}
.code .step .title{
    background-color:rgb(252, 164, 255) ;
    font-weight: bold;
    width: 100%;
    padding: 5px;
}
.code .comment{
    color:rgb(11, 202, 11);
}

.code .feature{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px 0px;
}

@media screen and (min-width:700px) {
    .guide .part1 .step{
        width:350px;
    }
    .container{
        background-color: white;
    }
}
.ducumentaion .switch{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    border-radius: 20px;
}
.ducumentaion .switch button{
    display: flex;
    justify-content: center;
    width: 90px;
    height: 30px;
    margin: 0px 5px;
    align-items: center;
    background-color:bisque;
    border: none;
    border-radius:10px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.959);
}
